<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">You may log in as a teacher or take an exam as a student - below</p>
</div>
<div class="container">
  <div class="row ">
    <%if(user){%>
    <div class="col-lg-12 ">
      <div class="card ">
        <div class="card-body">
          <h1 class="text-center mb-3"> Hello <%=user.firstName%> <%=user.lastName%> </h1>
          <div class="text-center">
            <form action="/dashboard" method="GET">
              <p><button type="submit" class="btn btn-primary btn-block main_btn">Dashboard</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%}else{%>
    <div class="col-lg-6  ">
      <div class="card ">
        <div class="card-body text-center">
          <h1 class="text-center mb-3"> Teachers Login</h1>
          <a href="/teachers/login" type="button" class="btn btn-primary btn-block main_btn">Login as teacher</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6  ">
      <div class="card ">
        <div class="card-body text-center ">
          <h1 class=" mb-3"> Take an exam </h1>
          <a href="/exams/studentform" type="button" class="btn btn-primary btn-block main_btn">Continue as student</a>
        </div>
      </div>
    </div>
    <%}%>
</div>
</div>