<script src="/takeexam.js" async></script>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" id="exam_card">
        <h1 class="text-center mb-3" id="exam_title">
          Title
        </h1>
      </div>
    </div>
  </div>
  
