@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
*{
  font-family: 'Poppins', sans-serif;
}
body  {
  width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  font-size: 20px;
  background-color: #007bff;
}


.card{
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
  margin-top:10%;
}


/*---------Exam CSS--------*/
.questionBlock{
    margin-top: 20px;
}
.choice-block{
    padding-left:3rem;
}

.main_btn{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;

}


/*Dashboard*/
.container-fluid{
    font-size: 1.25rem;
}


/* [FULL SCREEN SPINNER] */
#spinner-back, #spinner-front {
    position: fixed;
    width: 100vw;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
  }
  #spinner-back {
    z-index: 998;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
  }
  #spinner-front {
    z-index: 999;
    color: #fff;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  #spinner-back.show, #spinner-front.show {
    visibility: visible;
    opacity: 1;
  }
  
  /* [DOES NOT QUITE MATTER] */
  html, body {
    margin: 0;
    padding: 0;
  }



  /*Edit exam page*/

  #examtitle,#duration,#date,.form-control.question{
    color : #000;
    background-color:#89898d54;
  }
  #editExam{
    color:#000;
  }

  .card.mb-3.question{
    color:#000;
  }
  table{
    margin-top: 5px;
  }
  td,th{
    text-align:center;
    background-color: #657e97;

  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: orange;
  }

  .jumbotron{
    margin-top:2rem;
  }
  .jumbotron h1{
    font-size:125px;
    font-weight: bold;
  }
  .jumbotron p{
    font-size:25px;
  }


  /*buttons*/

  .btn-info{
    border-color:#95a0a0;
    background-color: #95a0a0;
  }
  .btn-danger{
    border-color:#e84545b0;
    background-color: #e84545b0;
  }
  .btn-primary{
    border-color:#935ca3;
    background-color: #935ca3;
  }
  .btn-primary:hover{
    border-color:#b81de0;
    background-color: #b81de0;
  }
  .btn-success{
    border-color:#5cb85c;
    background-color: #5cb85c;
  }
  .btn-warning{
    border-color:#dd9128;
    background-color: #dd9128;
  }