/*---------Exam CSS--------*/
.questionBlock{
    margin-top: 20px;
}
.choice-block{
    padding-left:3rem;
}


/*Dashboard*/
.container-fluid{
    font-size: 1.25rem;
}


/* [FULL SCREEN SPINNER] */
#spinner-back, #spinner-front {
    position: fixed;
    width: 100vw;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
  }
  #spinner-back {
    z-index: 998;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
  }
  #spinner-front {
    z-index: 999;
    color: #fff;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  #spinner-back.show, #spinner-front.show {
    visibility: visible;
    opacity: 1;
  }
  
  /* [DOES NOT QUITE MATTER] */
  html, body {
    margin: 0;
    padding: 0;
  }




  /*Edit exam page*/

  #examtitle,#duration,#date,.form-control.question{
    color : #000;
    background-color:#89898d54;
  }
  #editExam{
    color:#000;
  }

  .card.mb-3.question{
    color:#000;
  }